* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    width: 100vw;
    height: 100vh;
    background: #9381FF;
}

p {
    color: #F8F7FF;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.8rem;
}

.explanation {
    margin-top: 4%;
    background: #B8B8FF;
    width: 60%;
    width: 50vw;
    margin-inline: auto;
    text-align: justify;
    padding: 1.5rem;
    border-radius: 5px;
    border: 2px dotted #FFD8BE;
}

.separator {
    width: 100%;
    height: 1.2px;
    background: #9381FF;
    margin-inline: auto;
    margin-top: 1ch;
}
