* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: #001125;
}

p {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.8rem;
}

